 #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-segundo;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;

    ul {
        display: flex;
        margin-right: 2rem;
        list-style: none;
        margin: 0 1rem;

        a {
            display: block;
            font-size: 2.2rem;
            padding: 2rem;
            text-decoration: none;
            color: $color-primero;
            
            &:hover { background:$color-tres;}
        }
    }

 }